<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<%- include("partials/navbar") %>

<section class="form-section">

    <div class="form-container">

        <h2>Admin Login</h2>

        <form action="/admin/login" method="POST">

            <input
                type="email"
                name="email"
                placeholder="Enter Admin Email"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Enter Password"
                required
            >

            <button type="submit">Login</button>

            <!-- Forgot Password -->
            <p style="margin-top:15px; text-align:center;">
                <a href="/forgot-password">
                    🔑 Forgot Password?
                </a>
            </p>

        </form>

    </div>

</section>

<%- include("partials/footer") %>
<script src="/js/script.js"></script>
</body>
</html>