<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses - Sandeep Coaching Classes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<!-- NAVBAR -->
<header>
     <!-- NAVBAR -->
    <%- include("partials/navbar") %>
</header>

<!-- MAIN -->
<main>

    <!-- HERO -->
    <section class="hero">
        <h1>Our Courses</h1>
        <p>Choose the best course for your future</p>
    </section>

    <!-- COURSES SECTION -->
    <section class="classes-section">
        <h2>Available Courses</h2>

        <div class="class-grid">

            <div class="class-card">
                <h3>Class 8</h3>
                <p>Strong foundation for all subjects.</p>
            </div>

            <div class="class-card">
                <h3>Navodaya Preparation</h3>
                <p>Special entrance exam preparation.</p>
            </div>

            <div class="class-card">
                <h3>Class 9</h3>
                <p>Complete syllabus with tests.</p>
            </div>

            <div class="class-card">
                <h3>Class 10</h3>
                <p>Board exam focused learning.</p>
            </div>

            <div class="class-card">
                <h3>Class 11 (Science)</h3>
                <p>Maths & English concepts.</p>
            </div>

            <div class="class-card">
                <h3>Class 12 (Science)</h3>
                <p>Advanced preparation for exams.</p>
            </div>

        </div>
    </section>

</main>

<!-- FOOTER -->
 <!-- FOOTER -->
    <%- include("partials/footer") %>
<script src="/js/script.js"></script>
</body>
</html>