
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<!-- NAVBAR -->
<%- include("partials/navbar") %>

<main>

    <section class="hero">
        <h1>Student Registration</h1>
        <p>Create your account</p>
    </section>

    <section class="auth-section">

        <form class="auth-form" action="/register" method="POST">

            <input type="text" name="name" placeholder="Full Name" required>

            <input type="email" name="email" placeholder="Email" required>

            <input type="text" name="phone" placeholder="Phone Number" required>

            <input type="password" name="password" placeholder="Password" required>

            <button type="submit">Register</button>

            <p>Already have an account? <a href="/login">Login</a></p>

        </form>

    </section>

</main>

<!-- FOOTER -->
<%- include("partials/footer") %>
<script src="/js/script.js"></script>
</body>
</html>
