<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<title>Reset Password</title>

<link rel="stylesheet" href="/css/style.css">

</head>

<body>

<%- include("partials/navbar") %>

<section class="form-section">

<div class="form-container">

<h2>🔐 Reset Password</h2>

<form action="/reset-password" method="POST">

<input
type="password"
name="password"
placeholder="New Password"
required
>

<input
type="password"
name="confirmPassword"
placeholder="Confirm Password"
required
>

<button>

Reset Password

</button>

</form>

</div>

</section>

<%- include("partials/footer") %>
<script src="/js/script.js"></script>
</body>

</html>